body {
    font-family: Arial, sans-serif;
    margin: 0 auto; 
    padding-top: 80px; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    min-height: 100vh; 
}


.navbar{
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #d1d1d1;
}



h1 {
    color: #fff;
    font-size: 30px !important;
}


.caja-locacion{
    border: 1px solid #bfbfbf;
    border-radius: 20px;
    padding: 20px;

}

.caja-conversor {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;

}

.footer-conversor{

background-color: #fafafa;
padding: 20px;
}

.footer-titulos{
font-size: 16px;
font-weight: bold;
color: #000;
}

.footer-derechos{
background-color: #007bff;
padding: 20px;
color: #fff;
font-size: 14px;

}

#converter-container, #location-inputs {
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}


.input-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #007bff;

}

input, select, button {
    margin-top: 10px;
    width: 100%;
    padding:10px;
    border:1px solid #000;
    margin-bottom: 10px;
    border-radius: 10px !important;
}

#ubicacion-actual-img, #destino-img {
    width: 100%;
    height: 300px; 
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

#resultado {
    margin-top: 20px;
}

.conversion-table {
    margin-top: 20px;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    font-weight: 300;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #fafafa;
}

.currency-selectors {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 10px; 
}



select {
    width: 100%; 
    padding: 8px; 
}


#destino-links {
    display: none;  
    
}

#destino-links.visible {
    display: flex; 
    font-size: 14px;
    font-weight: 700;
    
}


#destino-links ul {
    list-style: none;
    padding: 0;
}

#destino-links li {
    margin-top: 5px;
}

#destino-links a {
    color: rgb(45, 165, 212);
    text-decoration: underline;
}

.link-container {
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    padding: 10px 0;
}

.link-container a {
    color: #007bff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.link-container i {
    margin-right: 5px; 
}


#overlay {
    position: fixed; 
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; 
}
